<!--

Authors: Matthew Larsen & Justin Saephan
Date: 01/21/2025
Pair Program Password Checker
Filename: index.html
File Description: HTML for password Checker webpage

-->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href ="/styles/styles.css">
  <script src="/script.js" defer></script>
  <title>Password Checker</title>
</head>
<body>
  <main>
    <div>
      <img src="/images/key.png" alt="key">
    </div>
    <section>
      <div>
        <h1>Password Checker</h1>
        <label>Enter Password: <input type="text" id="input" placeholder="Enter your password"></label>
      </div>
      <div>
        <button type="button" id="button1">Check Password</button>
        <button type="button" id="button2">Clear</button>
      </div>
      <div id="output" class="outputGreenText"></div>
    </section>
  </main>
</body>
</html>